@media screen and (min-width: 120.0rem){

    #main {
        width: 40%;
        height: 100%;
        margin-left: 30%;
        font-size: 1.6rem;
    }

    #links {
        margin-left: 75%;
        width: 20%;
        height: 50%;
        position: fixed;
    }

    #topbar {
        text-align: center;
    }

    #bottom_bar {
        text-align: center;
        font-size: 1.6rem;
        color: gray;
    }

    .innerContent {
        margin-left: 5rem;
    }

    a{
        color: #766D60
    }

}

@media screen and (max-width: 119.0rem){
    #main {
        width: 90%;
        height: 100%;
        margin-left: 5%;
        font-size: 2rem;
    }

    #links {
        margin-left: 75%;
        width: 20%;
        height: 50%;
        position: fixed;
        display: none;
    }
    
    #topbar {
        text-align: center;
    }
 
    .innerContent {
        margin-left: 5rem;
    }

    a{
        color: #766D60
    }
}
